body {
    margin: 0;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: .8em;
    line-height: 1.25;
    color: black;
    background: white;
}

#indexHeader, footer {
    padding: 20px 0;
    width: auto;
    color: #fff;
    text-align: center;
    background-color: #383838;
    background-image: linear-gradient(120deg, #959595, #383838 );
}
/*#155799, #159957*/
#indexHeader {
    height: 155px;  
    width: 100%; 
    top: -50px; 
    z-index: 100; 
    position: fixed; 
    border-bottom: 1.75em solid #5D707F; 
}

#content {
    margin-top: 15%;
}

#content > div:first-child{
    padding-bottom: 25px;
    margin: 0 0 1% 0 ;
    background-color: #959595;
}

section {
    background-color: #5D707F;
    margin: 1% 0 1% 0;
    padding: 1%;
    border-bottom: 1em solid #BCD4DE;
}

section div {
    background-color: #91B7C7;
    display:none;
    padding: 1%;
}

h1 {
    margin: 1em 0 .5em 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

h1 {
    font-size: 3em;
    font-style: italic;
}

a {
    padding: 1%;
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

a {
    height: 5%;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

/*Resume CSS*/
#resumeContent {
    border: 1px solid black;
    margin: 1%;
    margin-top: 15%;
}

.coor > li:first-child {
    font-weight: bold !important;
    font-size: 1.25em;
}
